{% extends "layout.html" %}
{% block title %}
Blogs Page
{% endblock %}
{% block content %}
<h1>Read the latest Blogs!</h1>
<div class="grid grid-cols-3 gap-4 m-4">
    {% for blog in blogs %}
    <div class="card text-bg-light mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ blog.image.url }}" class="card-img h-100 rounded-lg" style="object-fit: cover;" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.author }}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ blog.date_added }}</small></p>
                    <a href="{% url 'blog_details' blog.id %}" class="btn btn-primary btn-sm">Read More</a>
                    <form action="{% url 'delete_blog' blog.id %}" method='POST' class='d-inline'>
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
