{% extends "layout.html" %}
{% block title %}
Create a blog
{% endblock %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    {% block content %}
    <div class="row w-100">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Create a Blog</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center"> 
                    <button type="submit" class="btn btn-primary align-center" value="Add Review">Add Blog</button>
                    </div>
            </form>
        </div>
    </div>
    {% endblock %}
</div>
