  {% extends "layout.html" %}
  {% block title %}
  Register User
  {% endblock %}
  <div class="container d-flex justify-content-center align-items-center vh-100">
    {% block content %}
    <div class="row w-100">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Register</h1>
            <form action="{% url 'register_user'%}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center"> 
                <button type="submit" class="btn btn-primary align-center" value="Add Review">Register</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</div>